<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/logo-icon.png" type="image/x-icon">
	<title>Junin Viagens - Cadastrar Pacotes</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg text-white" style="background: rgb(12,6,54);
        background:linear-gradient(90deg, rgba(12,6,54,1) 34%, rgba(9,81,105,1) 81%, rgba(5,155,154,1) 100%);">
			<a class="navbar-brand text-white" href="/">
				<img src="/img/logo-icon.png" alt="logo" width="45" height="40" class="d-inline-block align-text-top">
				Junin Viagens |
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link text-white" href="/">Home <span class="sr-only"></span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="/clientes">Listar Clientes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="/pacotes">Listar Pacotes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="/reservas">Listar Reserva de Viagem</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

<body>

	<h2>Formulário de Pacote</h2>

	<form th:action="@{/pacotes/save}" method="post" th:object="${pacote}">
		<input type="hidden" th:field="*{id}">

		<label for="valor">Valor:</label>
		<input type="text" th:field="*{valor}" required oninput="formatarValor(this)"><br>

		<label for="diarias">Diárias:</label>
		<input type="number" th:field="*{diarias}" required><br>

		<label for="destino">Destino:</label>
		<input type="text" th:field="*{destino}" required><br>

		<label for="cliente">Cliente:</label>
		<select th:field="*{cliente}" required>
			<option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nomeCliente}"></option>
		</select><br>


		<input type="submit" value="Salvar">
	</form>


	<script>
		function formatarValor(input) {
			input.value = input.value.replace(',', '.');
		}
	</script>

</body>

</html>